.navbarnav {
  flex-direction: column;
}
.dropdown-menu {
  position: absolute;
}
.App{
  background: #F0FBF4;
}
.cardUser{
}
.logo{
  width: 150px;
  height: 130px;
}
.vector-user{
  width: 30px;
  height: 30px;
}
.user-card{

}
.user-bg{
  background: rgba(255, 255, 255, 0.51);
}
.vector{
  width: 50px;
  height: 50px;
}
.registrer{
  background-color: #FFFFFF;
}
.presentation{
  background: radial-gradient(105.42% 208.47% at 0% 100%, #209E4B 13.47%, #43CD71 32.81%, #43CD71 48.12%, rgba(67, 201, 112, 0.5) 68.98%, #FFFFFF 98.5%, #FFFFFF 99.23%, rgba(255, 255, 255, 0.17) 100%);
}
.nurse{
  width: 300px;
  height: 210px;
}
.logo2{
  align-content: center;
  width: 300px;
  height: 200px;
}
.input{
  /*width: 200px;*/
  height: 31px;
  border: none;
  border-radius: unset;
  border-bottom: solid 2px #43C970;
}
.card-img{
  width:90px ;
  height: 90px;

}
.dashboard{
  background-color: #31B55D;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 600px ;
  flex-direction: column;
  position: relative;

}
.textNav{
  font-size: 15px;
}
.accueil{
  background: #F0FBF4;
}
.iconUser{
  width: 100px;
  color: #D14F4F;
}
.fiche_patient{
  background: rgba(183, 255, 152, 0.19);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

