<<<<<<< HEAD
.App{
  background: #F0FBF4;
}

.dashboard{
  background-color: #31B55D;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  min-height: 100% ;

}
.textNav{
  font-size: 15px;
}
.accueil{
  background: #F0FBF4;
}
.iconUser{
  width: 100px;
  color: #D14F4F;
}
=======
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> ba979d47f919e4998afd1673bfea14df5a76b81d
