.btn-modifier{
    color: #31B55D;
    width: 179px;
    height: 59px;
    left: 1283px;
    top: 633px;
}
.btn-supprimer{
    color: #D14F4F;
    width: 179px;
    height: 59px;
    left: 1283px;
    top: 633px;
}